body {
    font-family: 'Courier', Courier, monospace;
    background-color: lightblue;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px;
    font-weight: normal;
}
#control-area {
    text-align: center;
    margin: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

nav {
    list-style:none;
    margin-left: -200px;
    margin-right: -200px;
    text-align:center;
    
}
nav li{
    display:inline;
    margin: -10px
}
nav a, a:visited{
    display:inline-block;
    text-decoration: none;
    background-color: #34495E;
    color: white;
    padding: 5px 12%;
    text-align: center;
}
nav a:hover {
    background-color: #3498DB;
}
#gamearea{
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
.side{
    display: inline-block;
    vertical-align: top;
}
.side > * {
    display: block;
}
.grid-container {
    width: 450px;
    text-align: center;
    margin: auto;
}

.status-area{
    text-align: left;
    margin: 10px;
}

.status-block > *{
    display: inline-block;
}

.status-block > h3{
    width: 100px;
    margin-right: 50px;
}
.sink-notification{
    color: red;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#resultarea > *{
    text-align: center;
    margin: 20px auto;
}

.grid {
	vertical-align: top;
	padding: 5px;
	height: 420px;
	width: 420px;
	background-color: #34495E;
    border-radius: 5px;
    border-width: thick;
    margin: auto;
}
.grid-cell {
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #3498DB;
    margin: 1px;
    border-radius: 2px;
}
.test-cell {
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #9ed0f7;
    margin: 1px;
    border-radius: 2px;
    font-size: 40px;
    font-weight: bold;
    color: darkred;
}
.temp-ship-cell {
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: grey;
    margin: 1px;
    border-radius: 2px;
}
.perm-ship-cell {
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: black;
    margin: 1px;
    border-radius: 2px;
}
.target-cell{
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: yellow;
    margin: 1px;
    border-radius: 2px;
}
.hit-cell{
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: red;
    margin: 1px;
    border-radius: 2px;
}
.miss-cell{
    vertical-align: top;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: whitesmoke;
    margin: 1px;
    border-radius: 2px;
}
.ship-indicator-tile{
    vertical-align: top;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: grey;
    margin: 1px;
    border-radius: 2px;
}
.hit-ship-indicator-tile{
    vertical-align: top;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: red;
    margin: 1px;
    border-radius: 2px;
}

.twitter-share-button, .fb-share-button{
    vertical-align: top;
}

