body {
    background-color: rgb(255, 251, 240);
}

h1 {
    text-align: center;
}

.grid-container {
	width: 450px;
    display: inline-block;
}

.human {
    position: absolute;
    top: 20%;
    left: 55%;
}

.computer {
    position: absolute;
    top: 20%;
    left: 25%;
}

.grid {
	vertical-align: top;
	padding: 5px;
	height: 416px;
	width: 416px;
	background-color: #195888;
	border-radius: 5px;
}

.grid-cell {
    vertical-align: top;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #9ed0f7;
    margin: 1px;
    border-radius: 2px;
}

